version: '3.9'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DB_USER}","-d","${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    image: golang:latest
    working_dir: /app
    environment:
      GIN_MODE: release
      DB_DSN: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
      PORT: ${PORT}
      GOCACHE: /go-cache   
    ports:
      - "8080:${PORT}"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - go_cache:/go-cache  
    command: ["go", "run", "."]
    networks:
      - app_network

volumes:
  pg_data: {}
  go_cache: {}   

networks:
  app_network:
    driver: bridge
